<!-- <div class="h-[800px] bg-[url('../src/assets/homepage/main_page_bg.jpg')] bg-cover flex items-center flex-col justify-center">
  <h1 class="text-4xl text-white">Acupuntura y masajes en Barcelona</h1>
  <p class="pt-4 w-1/3 text-center text-lg text-white">
    En nuestra consulta ofrecemos la Acupuntura como una terapia médica, llevada a cabo por la Valeria Bondarenco, Licenciado en medicina y especialista en Medicina Familiar y en Acupuntura, lo que permite un abordaje global y holístico de la enfermedad.
    La Acupuntura es la terapia médica complementaria con mayor evidencia científica demostrada y sobre la que más se ha publicado. De hecho, actualmente existen múltiples Guías Clínicas que avalan su uso. 
    Si tienes un problema de salud y aún no has encontrado la solución, la Acupuntura te puede ayudar.
  </p>
</div> -->

<div class="h-screen relative mix-blend-overlay flex items-center flex-col justify-center">
  <h1 class="z-50 text-4xl text-white">Acupuntura y masajes en Barcelona</h1>
  <p class="z-50 pt-4 w-1/3 text-center text-lg text-white">
    En nuestra consulta ofrecemos la Acupuntura como una terapia médica, llevada a cabo por la Valeria Bondarenco, Licenciado en medicina y especialista en Medicina Familiar y en Acupuntura, lo que permite un abordaje global y holístico de la enfermedad.
    La Acupuntura es la terapia médica complementaria con mayor evidencia científica demostrada y sobre la que más se ha publicado. De hecho, actualmente existen múltiples Guías Clínicas que avalan su uso. 
    Si tienes un problema de salud y aún no has encontrado la solución, la Acupuntura te puede ayudar.
  </p>
  <img src="'../../../../assets/homepage/main_page_bg.jpg" class="absolute h-screen w-full object-fill opacity-70 "/>
  <div class="absolute -z-10 bg-gradient-to-t from-black via-black to-black h-screen w-full"></div>
</div>
